@import 'normalize.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';
//
@import 'global/fonts.scss';
@import 'global/base.scss';
//
@import 'blocks/btn.scss';
@import 'blocks/logo.scss';
@import 'blocks/inputbox.scss';
@import 'blocks/user.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/flag-new.scss';
@import 'blocks/range-filter.scss';
@import 'blocks/product.scss';
@import 'blocks/modal.scss';
@import 'blocks/cart-popup.scss';
@import 'blocks/page-header.scss';
@import 'blocks/promo.scss';
@import 'blocks/popular.scss';
@import 'blocks/services.scss';
@import 'blocks/info.scss';
@import 'blocks/page-footer.scss';
//
@import 'pages/catalog.scss';
