$font-main: 'Cuprum', arial, sans-serif;
$font-second: 'PT Sans', arial, sans-serif;
//
$color-main--lighten: #f2f6f8;
$color-main--light: #32425c;
$color-main: #293449;
$color-main--dark: #212a3a;
$color-main--dakren: #1d2739;
$color-main--darkest: #161d29;
//
$gray: #e5e5e5;
$gray--dark: #bdc6ca;
$gray--darken: #c5c5c5;
$gray--darkest: #b5b5b5;
//
$red--light: #f7f3ec;
$red: #ee3643;
$red--dark: #e9292a;
$red--darken: #ca2c37;
$red--darkest: #ba2732;
//
$beige: #ffd180;
//
$green: #5fbb2d;
$green--dark: #63a63e;
$green--darken: #518534;
