footer.page-footer
  .page-footer__top
    .page-footer__top-wrap
      .page-footer__top-left-col
        a.logo.logo--big.page-footer__logo
          | Техномарт
        address.page-footer__address
          | г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
          a(href='tel:+78125550555')
            | +7 (812) 555-05-55
      nav.page-footer__nav.footer-nav
        ul.footer-nav__items
          li
            a.footer-nav__link(href='#')
              | Компания
          li
            a.footer-nav__link(href='#')
              | Новости
          li
            a.footer-nav__link(href='#')
              | Каталог
          li
            a.footer-nav__link(href='#')
              | Доставка
          li
            a.footer-nav__link(href='#')
              | Контакты
        ul.footer-nav__items.footer-nav__items--beige
          li
            a.footer-nav__link(href='#')
              | Материалы
          li
            a.footer-nav__link(href='#')
              | Техника
          li
            a.footer-nav__link(href='#')
              | Инструменты
          li
            a.footer-nav__link(href='#')
              | Спецпредложения
  .page-footer__bottom
    .page-footer__bottom-wrap
      p.page-footer__copyright
        | © 2010–2017 Компания «Техномарт» Все права защищены
      ul.social-links.page-footer__social-links
        li
          a.social-links__link.social-links__link--vk(href='#', target='_blank')
            | Мы в Вконтакте
        li
          a.social-links__link.social-links__link--fb(href='#', target='_blank')
            | Мы в Фейсбуке
        li
          a.social-links__link.social-links__link--in(href='#', target='_blank')
            |  Мы в Инстаграмме
      .page-footer__contacts
        p.page-footer__contacts-feedback
          span.page-footer__contacts-desc
            | Обратная связь:
          a.page-footer__contacts-link(href='mailto:mail@htmlacademy.ru')
            | mail@htmlacademy.ru
        p.page-footer__contacts-developed
          span.page-footer__contacts-desc
            | Разработано —
          a.page-footer__contacts-link(href='https://htmlacademy.ru/intensive/htmlcss', target='_blank')
            | htmlacademy.ru
