section.promo
  .promo__wrapper
    h2.visually-hidden
      | Главное
    .promo__items
      .promo__item.promo__item--materials
        span.flag-new
          span
            | Новинка
        .promo__item-inner
          h3.promo__item-title
            | Материалы
          a.promo__item-link.btn.btn--transparent(href='#')
            | На любой вкус
      .promo__item.promo__item--tools
        .promo__item-inner
          h3.promo__item-title
            | Инструменты
          a.promo__item-link.btn.btn--transparent(href='#')
            | На все случаи
      .promo__item.promo__item--technics
        .promo__item-inner
          h3.promo__item-title
            | Техника
          a.promo__item-link.btn.btn--transparent(href='#')
            | Для стройки
      .promo__item.promo__item--big.promo__slider.slider-promo
        .slider-promo__slide.slider-promo__slide--punchers.slider-promo__slide--active
          h3.slider-promo__title
            | Перфораторы
          p.slider-promo__description
            | Настоящие мужские игрушки
          a.slider-promo__link.btn(href='catalog.html')
            | Открыть каталог
        .slider-promo__slide.slider-promo__slide--drills
          h3.slider-promo__title
            | Дрели
          p.slider-promo__description
            | Соседям на радость!
          a.slider-promo__link.btn(href='catalog.html')
            | Открыть каталог
        .slider-promo__arrows
          button.slider-promo__arrow.slider-promo__arrow--left(
            type='button'
            disabled
          )
            span
              | Предыдущий
          button.slider-promo__arrow.slider-promo__arrow--right(
            type='button'
          )
            span
              | Следующий
        .slider-promo__breadcrumb
          button.slider-promo__breadcrumb-item(type='button' disabled)
            span
              | 1
          button.slider-promo__breadcrumb-item(type='button')
            span
              | 2
      .promo__item.promo__item--discounts
        .promo__item-inner
          h3.promo__item-title
            | Скидки 50%
          a.promo__item-link.btn.btn--transparent(href='#')
            | На
            |
            span
              | 350
            |
            | товаров
      .promo__item.promo__item--delivery
        .promo__item-inner
          h3.promo__item-title
            | Доставка
          a.promo__item-link.btn.btn--transparent(href='#')
            | Бесплатно
