section.services
  .services__wrapper
    h2.services__title
      | Сервисы
    p.services__description
      | Хороший интернет-магазин отличается от плохого не только ценами! Мы
      | стараемся изо всех сил, чтобы сделать ваши покупки приятными.
    .services__slider
      .services__controls
        button.services__control-btn.services__control-btn--active(
          type='button'
          disable
        )
          | Доставка
        button.services__control-btn(type='button')
          | Гарантия
        button.services__control-btn(type='button')
          | Кредит
      .services__slides
        .services__slide.services__slide--active
          h3.services__slide-title
            | Доставка
          p.services__slide-description
            | Мы с удовольствием доставим ваш товар прямо к вашему подъезду
            | совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его
            | на ваш этаж!
        .services__slide
          h3.services__slide-title
            | Гарантия
          p.services__slide-description
            | Если купленный у нас товар поломается или заискрит, а также
            | в случае пожара, спровоцированного его возгоранием,  вы всегда
            | можете быть уверены в нашей гарантии. Мы обменяем сгоревший
            | товар на новый. Дом уж восстановите как-нибудь сами.
        .services__slide
          h3.services__slide-title
            | Кредит
          p.services__slide-description
            | Залезть в долговую яму стало проще! Кредитные консультанты
            | придут вам на помощь
          a.services__slide-btn.btn(href='#')
            | Отправить заявку
