.inputbox__input {
  @include visually-hidden;

  &:focus ~ .inputbox__label {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    & ~ .inputbox__label {
      color: black;

      cursor: default;
      opacity: 0.3;

      &::before {
        border-color: $gray--darken;
      }
    }
  }

  &:checked ~ .inputbox__label {
    &::after {
      display: block;
    }
  }
}

.inputbox__label {
  position: relative;

  display: flex;
  margin-bottom: 15px;

  font-family: $font-second;
  text-transform: uppercase;

  cursor: pointer;

  user-select: none;

  &::before,
  &::after {
    opacity: 0.8;
  }

  &::before {
    content: '';

    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 10px;

    border-style: solid;
    border-color: $gray--darken;
  }

  &::after {
    content: '';
    position: absolute;

    display: none;
  }

  &:hover {
    color: black;

    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.inputbox--radio {
  .inputbox__label {
    &::before {
      border-width: 3px;
      border-radius: 50%;
    }

    span {
      padding-top: 2px;
    }

    &::after {
      top: 8px;
      left: 8px;

      width: 8px;
      height: 8px;

      background-color: $gray--darken;
      border-radius: 50%;
    }

    &:hover {
      &::after {
        background-color: $gray--darken;
      }
    }
  }
}

.inputbox--checkbox {
  .inputbox__input {
    &:checked ~ .inputbox__label {
      &::before {
        border-color: transparent;
      }
    }
  }

  .inputbox__label {
    align-items: center;
    margin-bottom: 18px;

    &::before {
      width: 23px;
      height: 23px;

      border-width: 2px;
      border-radius: 4px;
    }

    &::after {
      top: 0;
      left: 0;

      width: 27px;
      height: 23px;

      background-image: url('../img/checkbox-on.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
