.logo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  padding: 5px 10px;

  font-size: 24px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $red;

  user-select: none;

  &--big {
    height: 65px;

    font-size: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $red--darkest;
  }

  &[href] {
    &:hover,
    &:focus {
      background-color: $red--darken;
      outline: none;

      &::after {
        background-color: #9a212a;
      }
    }

    &:active {
      background-color: $red--darkest;

      &::after {
        background-color: #8e1e26;
      }
    }
  }
}
