.modal {
  position: fixed;
  left: 50%;
  z-index: 2;

  box-sizing: border-box;
  width: 620px;
  margin-left: -310px;

  background-color: white;
  border-top: 7px solid $red;
  box-shadow: 0 20px 40px 0 rgba(black, 0.75);
}

.modal__inner {
  padding: 30px 80px;
}

.modal__footer {
  padding: 37px 80px;

  background-color: $color-main--lighten;
}
