.product {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 220px;

  font-weight: bold;
  text-align: center;

  border: 1px solid $gray;

  &:hover,
  &:focus {
    box-shadow: 0 10px 25px rgba($color-main, 0.5);
  }

  &:hover {
    .product__actions {
      visibility: visible;
    }
  }
}

.product__actions {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 169px;
  overflow: hidden;

  background-color: white;
  visibility: hidden;
}

.product__buy,
.product__bookmark {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 4px 0;

  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  outline: none;
}

.product__buy {
  display: flex;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;

  color: white;

  background-color: $green--dark;
  box-shadow: inset 0 -3px #367315;

  &::before {
    content: '';

    display: block;
    width: 15px;
    height: 15px;
    margin-right: 20px;

    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: $green;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    background-color: $green--darken;
    box-shadow: inset 0 -3px $green--darken;
  }
}

.product__bookmark {
  padding: 7px;

  color: $color-main--light;

  border: 3px solid $green--dark;

  &:hover,
  &:focus {
    border-color: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__img-wrap {
  img {
    display: block;
    width: 218px;
    height: 169px;

    background-color: #777777;
  }
}

.product__inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  font-family: $font-second;
}

.product__title {
  display: block;
  width: 220px;

  color: black;
  text-decoration: none;

  h3 {
    padding: 0 30px;

    font-size: 18px;
  }
}

.product__discount {
  display: block;
  margin: 5px 0;

  font-size: 17px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__price {
  position: relative;

  box-sizing: border-box;
  min-width: 140px;
  height: 38px;
  margin-top: auto;
  padding: 10px 20px;

  font-size: 17px;
  color: white;

  background-color: $red;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    border-width: 19px 0 19px 20px;
    border-style: solid;
    border-color: white white white $red;
  }
}
