.promo {
  margin-top: 60px;
  margin-bottom: 30px;
}

.promo__wrapper {
  @include container;
}

.promo__items {
  &::after {
    content: '';

    display: table;
    clear: both;
  }
}

.promo__item {
  position: relative;

  display: flex;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  overflow: hidden;

  color: white;

  background-color: #777777;

  &:nth-child(3n),
  &:nth-child(5) {
    margin-right: 0;
  }

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &--big {
    width: 620px;
    height: 266px;

    &::after {
      display: none;
    }
  }

  &--materials {
    background-color: #ffbf47;

    &::after {
      background-image: url('../img/icon-1.svg');
    }
  }

  &--tools {
    background-color: #3bbce3;

    &::after {
      background-image: url('../img/icon-2.svg');
    }
  }

  &--technics {
    background-color: #dc91d8;

    &::after {
      background-image: url('../img/icon-3.svg');
    }
  }

  &--discounts {
    background-color: #8ed78f;

    &::after {
      background-image: url('../img/icon-4.svg');
    }
  }

  &--delivery {
    background-color: #ffc047;

    &::after {
      background-image: url('../img/icon-5.svg');
    }
  }
}

.promo__item-inner {
  flex-shrink: 0;
  width: 135px;
  overflow: hidden;
}

.promo__item-title {
  margin-top: 20px;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 24px;
}

.promo__item-link {
  width: 135px;
}

.slider-promo__slide {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;

  background-repeat: no-repeat;
  background-position: center;

  &--active {
    display: flex;
  }

  &--punchers {
    background-image: url('../img/bg-promo-slide-1.jpg');
  }

  &--drills {
    background-image: url('../img/bg-promo-slide-2.jpg');
  }
}

.slider-promo__title {
  margin: 0;

  font-size: 36px;
  text-transform: uppercase;
}

.slider-promo__description {
  margin: 0;

  font-size: 18px;
  font-family: $font-second;
}

.slider-promo__link {
  z-index: 1;

  min-width: 195px;
  margin-top: auto;
}

.slider-promo__arrows {
  position: absolute;
  bottom: 50%;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-bottom: -25px;
  padding: 0 25px;
}

.slider-promo__arrow {
  display: block;
  padding: 14px;

  background-color: transparent;
  border: solid white;
  border-width: 0 3px 3px 0;
  cursor: pointer;

  &--left {
    transform: rotate(135deg);
  }

  &--right {
    transform: rotate(-45deg);
  }

  span {
    @include visually-hidden;
  }
}

.slider-promo__breadcrumbs {
  position: absolute;
  bottom: 35px;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  button {
    box-sizing: content-box;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;

    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;

    &:disabled {
      background-color: $red;
      cursor: auto;
    }

    span {
      @include visually-hidden;
    }
  }
}
