.services {
  margin-top: 65px;
  padding-top: 40px;

  background-color: $color-main--lighten;
}

.services__wrapper {
  @include container;
}

.services__title {
  font-size: 30px;
  text-transform: uppercase;
}

.services__description {
  width: 400px;

  font-size: 13px;
  line-height: 24px;
  font-family: $font-second;
}

.services__slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 65px;
}

.services__controls {
  position: relative;

  width: 240px;
  margin-top: 0;
  padding: 0;

  list-style: none;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;

    width: 10px;
    height: 272px;
    margin-top: -136px;

    background-image: url('../img/shadow.png');
  }
}

.services__control-btn {
  display: block;
  width: 100%;
  padding: 19px 20px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  color: white;

  background-color: $color-main--light;
  border: none;
  border-bottom: 1px solid $color-main;
  outline: none;
  box-shadow: inset 0 1px #405069;
  cursor: pointer;

  &:disabled {
    color: $color-main--light;

    background-color: white;
    border: none;
    box-shadow: none;
    cursor: auto;
  }

  &:hover:not(:disabled),
  &:focus {
    background-color: $color-main;
    box-shadow: none;
  }
}

.services__slide {
  display: none;
  box-sizing: border-box;
  width: 620px;
  height: 285px;
  padding-right: 240px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: right bottom;

  &--active {
    display: block;
  }

  &:nth-child(1) {
    background-image: url('../img/bg-services-slide-1.jpg');
  }

  &:nth-child(2) {
    background-image: url('../img/bg-services-slide-2.jpg');
  }

  &:nth-child(3) {
    background-image: url('../img/bg-services-slide-3.jpg');
  }
}

.services__slide-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 36px;
  color: $color-main--light;
  text-transform: uppercase;
}

.services__slide-description {
  font-size: 13px;
  line-height: 24px;
  font-family: $font-second;
}

.services__slide-btn {
  min-width: 195px;
}
